.signin {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-login {
    font-family: "Roboto";
    font-weight: 700;
    color: #000;
    cursor: pointer;
    margin: 10px;
    transform: translateY(-30px);
    text-transform: uppercase;
}
.form {
    width: 50%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 0px 5px 5px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.signin-btns{
    transform: translateY(-100px);
}